.card {
    border: 2px solid #c5c5c5;
    border-radius: 8px;
    background-color: white;
    padding: 10px 20px;
    width: 100%;
    margin: 5px 0;
}

a, a:visited, a:hover {
    color: black
}

.admin {
    background-color: pink;
}

.bad {
    color: red;
}

.meh {
    color: orange;
}

.good {
    color: green;
}

.dimmed {
    color: black;
    background-color: #d7d4d4;
}

.tag {
    border: 1px solid rgb(146, 146, 146);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    font-size: 12px;
    padding: 5px 10px;
}

button {
    color: #fffcfc;
    background: #292626;
    border-radius: 25px;
    font-size: 14px;
    padding: 0 20px;
    cursor: pointer;
    min-width: 200px;
}