.card {
    border: 2px solid blue;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    margin: 5px;
}

.admin {
    background-color: pink;
}

.progress-bar-background {
    height: 20px;
    width: 100%;
    background-color: red;
}

.progress-bar {
    height: 100%;
    background-color: green;
}