.card {
    border: 2px solid silver;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    margin: 5px 0;
}

a, a:visited, a:hover {
    color: black
}

.admin {
    background-color: pink;
}

.bad {
    color: red;
}

.meh {
    color: orange;
}

.good {
    color: green;
}

button {
    color: #fffcfc;
    background: #292626;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    padding: 0 20px;
    cursor: pointer;
    min-width: 250px;
}