* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: scroll;
    color: #0a0202;
    background: #d8d6d6;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

input, button, select {
    margin: 10px 0;
    padding: 0 10px;
    height: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-self: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    text-align: center;
}

.text-centered {
    text-align: center;
}

.text-danger {
    color: red;
}