* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: scroll;
    color: #0a0202;
    background: #d8d6d6;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

input, button, select {
    padding: 0 10px;
    margin: 10px;
    height: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0;
}

.title {
    background-color: #101010;
    color: #ffffff;
}

.title > a {
    color: #ffffff !important;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    text-align: center;
    flex-grow: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin: 0 15px;
}

footer {
    text-align: center;
    font-size: 90%;
    margin-top: 30px;
}

big {
    font-size: 40px;
}

.text-centered {
    text-align: center;
}

@media (max-width: 600px) {
    body {
        padding: 0 10px;
    }
}
