extends ../_layout/layout.pug

append style
	include register.css

append scripts
	include register.js

append body
	form(action='/register', method='POST')
		input#username(placeholder='Username', name='username')
		input#password(placeholder='Password', name='password', type='password')
		button#register(type='submit') Register
		a(href="/login") 
			span ...or login instead