extends ../_layout/layout.pug

append style
	include index.css

append scripts
	include index.js

append body
	each event in events
		div.event
			a(href="/events/" + event.id)
				h1.heading= event.name
			div= "Sport: " + event.sportName
			if event.totalRatings > 0
				p= `${event.ratingPercentage}% would recommend this`
			else
				p No ratings for this one yet