extends ../_layout/layout.pug

append style
	include index.css

append scripts
	include index.js

append body
	if user
		p logged in as 
			span= user.email
			span . there are #{events.length} events.
			form(action="/logout", method="POST")
				button(type="submit") Log out
	else 
		a(href="/login") Log in

	each event in events
		div.event
			a(href="/event/" + event.id)
				h1.heading= event.name