doctype=html
html
	head
		title Rate the game
		style
			block style
				include layout.css
				include ../main.css
	body#body
		block body
			h1.text-highlighted.text-centered 
				a(href="/") Rate the game
			div.row-spaced
				div
					ul
						li
							a(href="/events") Events
						li
							a(href="/sports") Sports
				div
					if user
						p logged in as 
							span= user.email
							form(action="/logout", method="POST")
								button(type="submit") Log out
					else 
						a(href="/login") Log in
		block libs
		script
			block scripts
				include ../helpers.js