extends ../_layout/layout.pug

append style
	include sports.css

append scripts
	include sports.js

append body
	h1= sport.name
	p= sport.description

	each event in sport.events
		div.event
			a(href="/events/" + event.id)
				h3.heading= event.name

	include ../events/events-form.pug