if user
	h2 Add new sport

	form(action='/sports', method='POST')
		input(placeholder='Name', name='name')
		input(placeholder='Description', name='description')
		input(type="hidden", name="userId", value=user.id)
		button(type='submit') Add sport
else
	p
		span Please 
		a(href="/login") log in
		span  to add new events