extends ../_layout/layout.pug

append style
	include events.css

append scripts
	include events.js

append body
	each event in events
		div.event
			a(href="/events/" + event.id)
				h1.heading= event.name
			p= "Sport: " + event.sportName
			if event.totalRatings > 0
				p= `${event.ratingPercentage}% would recommend this`
			else
				p No ratings for this one yet

	include events-form.pug