extends ../_layout/layout.pug

append style
	include events.css

append scripts
	include events.js

append body
	h1= event.name
	p= event.sportName
	if event.totalRatings > 0
		p= `${event.ratingPercentage}% would recommend this (${event.totalRatings} ratings)`
	else
		p No ratings yet

	include rating/rating-form.pug
	