body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: scroll;
    color: #0a0202;
    background: #d8d6d6;
    max-width: 800px;
    margin: 0 auto;
}

input, button, select {
    margin: 0 10px 20px 0;
    padding: 0 10px;
    height: 30px;
}

/* mods */

.center {
    text-align: center;
}

/* containers */

.row {
    display: flex;
    flex-direction: row;   
}

.column {
    display: flex;
    flex-direction: column;   
}

.spaced {
    justify-content: space-between;
}