body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: scroll;
    color: #0a0202;
    background: #d8d6d6;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

input, button, select {
    margin: 10px 0;
    padding: 0 10px;
    height: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-self: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    text-align: center;
}

/* mods */

.text-centered {
    text-align: center;
}

/* containers */

.row {
    display: flex;
    flex-direction: row;   
}

.column {
    display: flex;
    flex-direction: column;   
}

.column.centered {
    align-self: center;
}

.spaced {
    justify-content: space-between;
}